a#menu-toggle.btn.btn-primary.btn-lg.toggle href="#"
  i.fa.fa-bars
div#sidebar-wrapper
  ul.sidebar-nav
    a#menu-close.btn.btn-default.btn-lg.pull-right.toggle href="#"
      i.fa.fa-times
    li.sidebar-brand
      = link_to "Home", '#'
    li
      = link_to search_home_url(subdomain: 'www') do
        span Search
        i.fa.fa-search

    = @menu_items.html_safe

javascript:
  $("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
  });
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
  });

  $(function() {


      $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              if (target.length) {
                  $('html,body').animate({
                      scrollTop: target.offset().top
                  }, 1000);
                  return false;
              }
          }
      });
  });
