div#top.header
  div.vert-text
    h1 = t 'home.index.head.title'
    h3 = t 'home.index.head.subtitle'

    a.btn.btn-default.btn-lg href="#about"  = t 'home.index.head.more_button'


#about.intro
  .container
    .row
      .col-md-12.text-center
        h2 = t 'home.index.about_title'
        p.lead
          = t 'home.index.about_description'
          =< link_to "#{t 'home.index.about_next_step'}", '#services'


#services.services
  .container
    .row
      .col-md-4.col-md-offset-4.text-center
        h2 = t 'home.index.steps.title'
        hr
    .row
      .col-md-2.col-md-offset-2.text-center
        .service-item
          i.service-icon.fa.fa-heart
          h4 = t 'home.index.steps.step1.title'
          p = t 'home.index.steps.step1.description'
      .col-md-2.text-center
        .service-item
          i.service-icon.fa.fa-users
          h4 = t 'home.index.steps.step2.title'
          p = t 'home.index.steps.step2.description'
      .col-md-2.text-center
        .service-item
          i.service-icon.fa.fa-rocket
          h4 = t 'home.index.steps.step3.title'
          p = t 'home.index.steps.step3.description'
      .col-md-2.text-center
        .service-item
          i.service-icon.fa.fa-music
          h4 = t 'home.index.steps.step4.title'
          p = t 'home.index.steps.step4.description'


.callout
  .vert-text
    h1 = t 'home.index.callout'

.call-to-action
  .container
    .row
      .col-md-12.text-center
        = render 'proposals/form', proposal: @proposal
        / div.btn-group
        /   button.btn.btn-success.dropdown-toggle type="button" data-toggle="dropdown"
        /     = t 'home.index.buttons.title'
        /     | &nbsp
        /     span.caret
        /   ul.dropdown-menu role="menu"
        /     li
        /       = link_to 'Riga', '#'
        /     li
        /       = link_to 'В другом городе', '#'



footer
  .container
    .row
      .col-md-6.col-md-offset-3.text-center
        ul.list-inline
          li
            i.fa.fa-facebook.fa-3x
          li
            i.fa.fa-twitter.fa-3x
          li
            i.fa.fa-dribbble.fa-3x
        .top-scroll
          a href="#top"
            i.fa.fa-circle-arrow-up.scroll.fa-4x
        hr
          p Copyright &copy; Company 2013


- content_for :javascript do
  = javascript_include_tag :forms
  javascript: