section.container.search
  = simple_form_for :search, url: 'find', remote: true, method: :post, html: { class: 'search-box'} do |form|
    div.wrapper
      i.fa.fa-search
      = form.input_field :term, label: false, placeholder: 'Type city or artist name'
  hr

  ul.results



- content_for :javascript do
  javascript:
    $(function() {
      $('form.search-box').on('keyup', function() {
        if ($('#search_term').val().length > 2) {
          $(this).submit();
        }
      }).
      on('ajax:success', function(data, response) {
        // console.log(response.results.length);
        var html = '';
        if (response.results.length > 0) {
          $.each(response.results, function(index, value) {
            html += JST['search_result']({img_url: value.cover, artist_permalink: ("artists/" + value.permalink), artist_name: value.text}) ;
          });
        }
        $('ul.results').html(html);
      });

    });
