= simple_form_for proposal, url: proposals_path, html: { class: 'form-inline new-proposal'} do |form|
  = form.input :artist_id, as: :string, input_html: { class: 'select2-input', 'data-url' => search_artists_path }, label: false, wrapper_class: 'form-group', class: 'form-control', placeholder: "#{t 'forms.proposals.artist.placeholder'}"
  = form.input :city_id, as: :string, input_html: { class: 'select2-input', 'data-url' => search_cities_path  }, label: false, wrapper_class: 'form-group', class: 'form-control', placeholder: "#{t 'forms.proposals.city.placeholder'}"
  = form.submit 'Create', class: 'btn btn-success'
