- set_menu_items( ['aabb', 'bbaa'] )
section.page.proposal-profile
  header.text-center style="background-image: url(#{artist_cover_photo_for @proposal.artist})"
    h1
      =<> @proposal.artist.name
      br
      | in
      =< @proposal.city.name
      / - can_vote? @proposal
      br
      = link_to new_city_proposal_vote_path( @proposal.city, @proposal ), class: 'btn btn-success' do
        i.fa.fa-plus-square-o &nbsp
        = "Vote"

  section.proposals
    ul.container
      - @votes.each do |vote|
        li
          = image_tag vote.authentication.avatar.url, alt: vote.authentication.name
