/ a#menu-toggle.btn.btn-primary.btn-lg.toggle href="#"
/   i.fa.fa-bars
/ div#sidebar-wrapper
/   ul.sidebar-nav
/     a#menu-close.btn.btn-default.btn-lg.pull-right.toggle href="#"
/       i.fa.fa-times
/     li.sidebar-brand
/       = link_to "#{@city.name}", '#'
/     li
/       a href="#top"  New
/     li
/       a href="#about"  Most Popular
/     li
/       a href="#services"  Find


section.page.city-profile
  header.text-center style="background-image: url(#{city_cover_photo_for @city})"
    h1
      = @city.name
    h5
      => @city.proposals.count
      | Proposals

  / section.proposals
  /   ul.container
  /     - @proposals.each do |proposal|
  /       li.col-xs-12.flip-container
  /         div.flipper
  /           div.front style="background-image: url('#{artist_cover_photo_for proposal.artist}')"
  /             h3 = proposal.artist.name
  /           = link_to city_proposal_path(proposal.city, proposal), class: 'back' do
  /             h2
  /               = "#{proposal.votes_count} VOTES COUNT"
  /             - proposal.votes.limit(300).each do |vote|
  /               = image_tag vote.authentication.avatar.url