form.search-box {
  margin-top: 10%;
  width: 100%;
  div.wrapper {
    position: relative;
    width: 100%;
    font-size: 64px;
    input {
      padding-left: 80px;
      font-size: 64px;
      border: none;
      width: 100%;
      @include placeholder {
        font-weight: 200;
      }
      &:focus {
        outline: 0;
        border: 0px;
        @include box-shadow(none);
      }
    }
    i.fa {
      position: absolute; left: 10px; top: 16px;
    }
  }
}

form.new-proposal {
  > div {
    &.proposal_artist_id {
      margin-right: 10px;
    }
  }

}