.flip-container {
  z-index: 1;
  perspective: 1000;
  position: relative;
  &:hover {
    .flipper {
      @include transform(rotateX(-180deg));
    }
  }
  background: transparent;
  .flipper {
    position: relative;
    width: 100%; height: 100%;
    transition: 0.9s;
    @include transform-style(preserve-3d);
    @include transform-origin(100% center);
    background: transparent;
  }

  .front, .back {
    width: 100%; height: 100%;
    @include backface-visibility(hidden);
    position: absolute;
    top: 0;
    left: 0;
  }

  .front {
    z-index: 2;
  }

  .back {
    @include transform(rotateX(180deg));
  }
}

