@import "bourbon";
@import "bootstrap";
@import "font-awesome";
@import "sidebar";
@import "stylish-portfolio";
@import "forms";
@import "popup";
@import "select2";
@import "select2-bootstrap";

section.container.search {
  ul.results {
    list-style: none;
  }
}