section.page {
  &.city-profile {
    > header {
      h1 { font-size: 130px; }
    }
    > section.proposals {
      width: 100%;
      ul {
        li {
          background-image: image-url("backgrounds/list-bg.png");
          background-repeat: repeat;
          padding: 0;
          position: relative;
          height: 100px;
          @include box-shadow(inset 0 0 15px black);
          border-bottom: 1px solid black;
          background-position: center center;
          div.front {
            background-size: cover;
            h3 {
              padding-left: 20px;
              color: white;
              text-shadow: 0 0 5px black;
              text-transform: uppercase;
              line-height: 63px;
            }
          }
          a.back {
            img { height: auto; width: 2%; float: left;}
            h2 {
              top: 16px;
              position: absolute;
              left: 50%; margin-left: -138px;
              color: white; text-transform: uppercase; text-shadow: 0 0 5px black;
            }
          }

        }
      }
    }
  }

  &.proposal-profile {
    header {
      position: relative;
    }
    ul {
      li {
        min-width: 50px; min-height: 50px;
        width: 50px; height: 50px; img { width: 100%; height: auto; }
        display: inline-block;
      }
    }
  }

}

.page {
  height: 100%;
  > header {
    width: 100%;
    height: 50%;
    background-size: cover; background-position: center center; background-repeat: no-repeat;
    h1 {
      color: white; text-shadow: 0 0 5px black;
    }
    h5 {
      color: white; text-shadow: 0 0 5px black;
    }
  }
}
