doctype html
html
  head
    meta charset="utf-8"
    / meta name="title" content="#{t('page_names.' + active_menu.to_s)}"
    / meta name="description" content="Wire.as is a startup ecosystem that provides information everybody needs to find investments, startups, news, and partnerships."
    title We Wait for you IN

    / link rel="shortcut icon" href="#{image_path 'icons/favicon.png'}"
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

    = csrf_meta_tags

  body
    = render 'shared/menu'

    = yield

    = yield :javascript